@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
}
*::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
*::-webkit-scrollbar-button {
    display: none;
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.563);
}
body{
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(24, 90, 37, 0.3)), url("../img/matrix.gif");
    background-size: cover;
}
#main-content{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 94vh;
}
#data-input{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#logo{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0 0 1rem;
}
#logo img{
    width: 70%;
}
#input-textarea{
    margin-left: 2.5rem;
}
#input-textarea textarea{
    border: 1px solid transparent;
    outline: none;
    width: 80%;
    height: 60vh;
    color: #fff;
    font-size: 2rem;
    background-color: transparent;
    resize: none;
    caret-color: #fff;
    border-radius: 14px;
    padding: 5px;
}
#input-textarea textarea:focus{
    border-color: #d8dfe86c;
}
#input-textarea textarea::placeholder{
    font-size: 2rem;
    color: #ffffff89;
}
#buttons{
    display: flex;
    gap: 2rem;
    margin-left: 2.5rem;
}
.btn-general{
    border: none;
    width: 250px;
    height: 50px;
    color: black;
    font-size: 1rem;
    border-radius: 24px;
    background-color: #3fd449;
    cursor: pointer;
    transition: .2s;
}
.btn-general:hover{
    box-shadow: 0px 0px 50px 1px #3fd4496d;
}
#btn-decrypt{
    background-color: #90d5a4;
    color: #000000;
    border: 1px solid #3fd449;
}
#data-output{
    display: flex;
    align-items: center;
}
#section-output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #d8dfe86c;
    text-align: center;
}
#section-output img{
    width: 60%;
    margin: 0 auto 3rem;
}
#section-output p{
    width: 80%;
    align-self: center;  
    margin-top: .5rem;  
}
#text-result{
    color: white;
    width: 90%;
    height: 85%;
    text-align: start;
    font-size: 1.5rem;
    margin: 1rem auto 0;
    border: none;
    outline: none;
    background-color: transparent;
}
#btn-copy{
    margin-top: 1rem;
    align-self: center;
}
footer{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    font-size: 1.3rem;
    color: white;
    margin: 2rem 3.3rem 0 0;
}
footer a{
    color: white;
}
@media screen and (max-width: 1250px){
    #main-content{
        grid-template-columns: 60% 40%;
    }
}
@media screen and (max-width: 1000px){
    body{
        background-attachment: fixed;
    }
    #main-content{
        grid-template-columns: 1fr;
    }
    #data-input{
        gap: 50px;
    }
    #input-textarea{
        width: 80%;
        margin: 0 auto;
    }
    #input-textarea textarea{
        width: 100%;
        height: 30vh;
    }
    #buttons{
        margin: 0 auto;
    }
    #section-output{
        margin-top: 2rem;
        height: fit-content;
        padding: 10px;
    }
    #section-output img{
        display: none;
    }
    #btn-copy{
        margin: 2.5rem 0 1rem;
    }
    footer{
        font-size: 1.2rem;
        margin: 2.5rem 0 0 0;
        justify-content: center;
    }
}
@media screen and (max-width: 650px){
    #buttons{
        flex-direction: column;
    }
}
@media screen and (max-width: 450px){
    #buttons{
        width: 80%;
    }
    .btn-general{
        width: 100%;
    }
    #section-output{
        margin-bottom: 1rem;
    }
}